.App {
  text-align: center;
}

.App-logo {
  width: 220px;
  height: auto;
}

.App-header {
  background-color: #2582D8;
  height: auto;
  padding: 20px;
  color: white;
  box-shadow: 0px 1px 5px -2px rgba(0, 0, 0, 0.5);
}

.App-intro {
  font-size: large;
}

.audio-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0px 1px 5px -2px rgba(0, 0, 0, 0.5);
}

.pb-13 {
  padding-bottom: 13rem;
}

.list-group-item:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.list-group-item-custom {
  border: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-left: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.list-group-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
  
}

.border-1 {
  border: 1px solid #000;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #2582D8;
  animation: spinner .6s linear infinite;
}

.btn-audio {
  cursor: pointer;
  color: #555;
  transform: scale(1);
  transition: all .1s ease;
}

.btn-audio:hover {
  color: #222;
  transform: scale(1.1);
}